<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">SJTU Short Course</h1>
      <h2>Numerical Methods for Data Science</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Lecture: Mon 10:00-11:40, TWF 8:00-9:40<br/>
        Course material: <a href="https://www.github.com/dbindel/sjtu-summer2018/">GitHub</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a><br/>
        Email: <a href="mailto:bindel@cs.cornell.edu">bindel@cs.cornell.edu</a><br/>
      </p>
    </div>
    </div>
  </div>
</div>
